# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
ExpoKitApp/
index.android.bundle
index.ios.bundle

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.iml
debug.keystore

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
firebase-debug.log
firebase-debug.*.log

# macOS
.DS_Store
*.pem
Thumbs.db

# local env files
.env*.local
.env
.env.development
.env.production
.env.test

# typescript
*.tsbuildinfo

# Android/iOS build artifacts
android/
ios/

# IDEs and Editors
.vscode/
.idea/
